---
import '../styles/global.css';
---
<html>
   <head>
   <title>Modelo de negocio - Grupo Asemh</title>
   <meta name="description" content="Modelo de negocio de Grupo Asemh, una empresa dedicada a la gestión integral de servicios de limpieza y mantenimiento.">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="utf-8">
   <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
   <meta name="robots" content="noindex" />
   </head>
   <body class="bg-gray-900 h-screen w-screen flex items-center justify-center overflow-hidden m-0">
      <div class="relative w-full aspect-video md:w-full md:h-full md:aspect-auto shadow-2xl rounded-lg md:rounded-none overflow-hidden">
         <iframe loading="lazy" class="absolute top-0 left-0 w-full h-full border-none"
            src="https://www.canva.com/design/DAGyCl_rLDI/S2YgfPXAjevbw9_CNB6Xlg/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
         </iframe>
      </div>
   </body>
</html>